#heading1
{
    font-size: 25px !important;
    font-family: 'Lobster', cursive;    
}

.btn-danger:hover
{
    background-color: rgb(155, 255, 6);
    color: black;
}

canvas {
    animation-name: colorAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes colorAnimation {
    33% {box-shadow: 10px 10px 100px rgb(234, 255, 0)}

    33% {box-shadow: 10px 10px 100px rgb(255, 145, 0)}

    33% {box-shadow: 10px 10px 100px rgb(234, 255, 0)}

}

body {
    background-size: 1550px;
}